<div>
    <h2 id="page-heading">
        <span jhiTranslate="factcheckApp.factcheckRating.home.title">Ratings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rating" [routerLink]="['/rating/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="factcheckApp.factcheckRating.home.createLabel">
            Create new Rating
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'factcheckApp.factcheckRating.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ratings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="factcheckApp.factcheckRating.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numericValue"><span jhiTranslate="factcheckApp.factcheckRating.numericValue">Numeric Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iconURL"><span jhiTranslate="factcheckApp.factcheckRating.iconURL">Icon URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDefault"><span jhiTranslate="factcheckApp.factcheckRating.isDefault">Is Default</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientId"><span jhiTranslate="factcheckApp.factcheckRating.clientId">Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="slug"><span jhiTranslate="factcheckApp.factcheckRating.slug">Slug</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="factcheckApp.factcheckRating.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdatedDate"><span jhiTranslate="factcheckApp.factcheckRating.lastUpdatedDate">Last Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="factcheckApp.factcheckRating.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rating of ratings ;trackBy: trackId">
                <td><a [routerLink]="['/rating', rating.id, 'view' ]">{{rating.id}}</a></td>
                <td>{{rating.name}}</td>
                <td>{{rating.numericValue}}</td>
                <td>{{rating.iconURL}}</td>
                <td>{{rating.isDefault}}</td>
                <td>{{rating.clientId}}</td>
                <td>{{rating.slug}}</td>
                <td>{{rating.createdDate | date:'medium'}}</td>
                <td>{{rating.lastUpdatedDate | date:'medium'}}</td>
                <td>{{rating.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rating', rating.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rating', rating.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rating/'+ rating.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ratings && ratings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
