<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rating">
            <h2><span jhiTranslate="factcheckApp.factcheckRating.detail.title">Rating</span> {{rating.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="factcheckApp.factcheckRating.name">Name</span></dt>
                <dd>
                    <span>{{rating.name}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckRating.numericValue">Numeric Value</span></dt>
                <dd>
                    <span>{{rating.numericValue}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckRating.iconURL">Icon URL</span></dt>
                <dd>
                    <span>{{rating.iconURL}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckRating.isDefault">Is Default</span></dt>
                <dd>
                    <span>{{rating.isDefault}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckRating.clientId">Client Id</span></dt>
                <dd>
                    <span>{{rating.clientId}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckRating.slug">Slug</span></dt>
                <dd>
                    <span>{{rating.slug}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rating', rating.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
