<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="claimant">
            <h2><span jhiTranslate="factcheckApp.factcheckClaimant.detail.title">Claimant</span> {{claimant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="factcheckApp.factcheckClaimant.name">Name</span></dt>
                <dd>
                    <span>{{claimant.name}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckClaimant.tagLine">Tag Line</span></dt>
                <dd>
                    <span>{{claimant.tagLine}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckClaimant.description">Description</span></dt>
                <dd>
                    <span>{{claimant.description}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckClaimant.imageURL">Image URL</span></dt>
                <dd>
                    <span>{{claimant.imageURL}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckClaimant.clientId">Client Id</span></dt>
                <dd>
                    <span>{{claimant.clientId}}</span>
                </dd>
                <dt><span jhiTranslate="factcheckApp.factcheckClaimant.slug">Slug</span></dt>
                <dd>
                    <span>{{claimant.slug}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/claimant', claimant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
