<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-claimant-heading" jhiTranslate="factcheckApp.factcheckClaimant.home.createOrEditLabel">Create or edit a Claimant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!claimant.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="claimant.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="factcheckApp.factcheckClaimant.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="claimant.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="factcheckApp.factcheckClaimant.tagLine" for="field_tagLine">Tag Line</label>
                    <input type="text" class="form-control" name="tagLine" id="field_tagLine"
                        [(ngModel)]="claimant.tagLine" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="factcheckApp.factcheckClaimant.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="claimant.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="factcheckApp.factcheckClaimant.imageURL" for="field_imageURL">Image URL</label>
                    <input type="text" class="form-control" name="imageURL" id="field_imageURL"
                        [(ngModel)]="claimant.imageURL" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="factcheckApp.factcheckClaimant.clientId" for="field_clientId">Client Id</label>
                    <input type="text" class="form-control" name="clientId" id="field_clientId"
                        [(ngModel)]="claimant.clientId" required/>
                    <div [hidden]="!(editForm.controls.clientId?.dirty && editForm.controls.clientId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.clientId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="factcheckApp.factcheckClaimant.slug" for="field_slug">Slug</label>
                    <input type="text" class="form-control" name="slug" id="field_slug"
                        [(ngModel)]="claimant.slug" required/>
                    <div [hidden]="!(editForm.controls.slug?.dirty && editForm.controls.slug?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.slug?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
